.categories {
  margin-bottom: 88px;
}

.categories .section-title h2 {
  width: 312px;
  height: 78px;
  margin: 0 auto;
  font-size: 32px;
}

.categories-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.categories-items .item {
  width: 312px;
  height: 220px;
  background-color: var(--background-tertiary-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-decoration: none;
  padding: 24px;
}

.categories-items .item h3 {
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
  text-align: center;
  font-size: 24px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .categories .section-title h2 {
    width: 366px;
    height: 38px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-items .item {
    width: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-items .item {
    width: 230px;
  }
  .categories-items .item h3 {
    font-size: 28px;
  }
}
