@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

:root {
  --primary-color: #b81515;
  --secondary-color: #8f0101;

  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-tertiary-color: #f5f5f5;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-menu-weight: 500;
  --text-weight: 400;
}

body,
img,
p,
h1,
fieldset,
input,
legend,
label,
select,
textarea,
button,
article {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
  font-size: 28px;
}

.section-title hr {
  width: 180px;
  height: 4px;
  border: none;
  background-color: var(--primary-color);
  margin: 16px auto 32px;
}

.button {
  width: 248px;
  height: 64px;
  display: inline-block;
  background-color: var(--primary-color);
  line-height: 64px;
  border-radius: 16px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
  text-decoration: none;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--secondary-color);
  }
}
