header {
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}


.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu {
    padding-top: 8px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 85%;
    left: 0;
    background-color: var(--background-secondary-color);
    width: 100%;
}

nav {
    display: none;
}

.list-links {
    list-style: none;
}

.list-links li {
    margin: 16px 0;
}

.list-links li a {
    text-decoration: none;
    color: var(--text-secondary-color);
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .navigation-menu {
        padding: 0;
        width: 467px;
    }
    .navigation-menu label {
        display: none;
    }
    nav {
        display: block;
    }
    .navigation-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .navigation-menu ul li {
        margin: 0;
    }
    .navigation-menu ul a {
        font-size: 24px;
    }

}