header {
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.img-mobile {
    display: block;
}

.img-desktop {
    display: none;
}

.navigation-menu {
    padding-top: 8px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 75%;
    left: 0;
    background-color: var(--background-secondary-color);
    width: 100%;
}

nav {
    display: none;
}

.list-links {
    list-style: none;
}

.list-links li {
    margin: 16px 0;
}

.list-links li a {
    text-decoration: none;
    color: var(--text-secondary-color);
    font-weight: 500;
}

.link {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .navigation-menu {
        padding: 0;
        width: 467px;
    }
    .navigation-menu label {
        display: none;
    }
    nav {
        display: block;
    }
    .navigation-menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .navigation-menu ul li {
        margin: 0;
    }
    .navigation-menu ul a {
        font-size: 24px;
    }

}

@media screen and (min-width: 1024px) {
    header {
        padding: 38px 120px;
    }
    .logo {
        width: 217px;
        height: 54px;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
    }
    .navigation-menu a:hover {
        color: var(--primary-color);
    }
}

@media screen and (min-width: 1920px) {
    header {
        padding: 37px 160px;
    }
}