header {
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 38px 48px;
    position: relative;
}


.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu {
    padding-top: 26px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-secondary-color);
    width: 100%;
}

nav {
    display: none;
}

.list-links {
    list-style: none;
}

.list-links li {
    margin: 16px 0;
}

.list-links li a {
    text-decoration: none;
    color: var(--text-secondary-color);
}