header {
    background-color: var(--background-secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 38px 48px;
    
}

.navigation-menu {
    padding-top: 26px;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

nav {
    display: none;
}