.hero-img {
  width: 100%;
  height: 400px;
}

.hero-img.riacho {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  font-weight: var(--text-weight);
  padding: 88px 24px;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  margin: 0;
}

.hero-img.baia {
  background: url(../img/hero-baia-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
  }

  .hero-img.riacho {
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-img.baia {
    background: url(../img/hero-baia-tablet.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    font-size: 32px;
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero h2 {
    padding: 104px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img.riacho {
    background: url(../img/hero-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero-img.baia {
    background: url(../img/hero-baia-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding: 104px 160px;
  }
}
