.hero-img {
  width: 100%;
  height: 400px;
}

.hero-img.riacho {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  font-weight: var(--text-weight);
  padding: 88px 24px;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  margin: 0;
}

.hero-img.baia {
  background: url(../img/hero-baia-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-img-pacotes.monte{
  height: 460px;
  background: url(../img/pacotes-hero-monte-mobile.jpg);
  background-size: cover;
  background-position: center;
  padding: 85px 24px;
  box-sizing: border-box;
}

.hero-img-pacotes.monte h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.hero-img-pacotes.monte hr {
  width: 180px;
  height: 4px;
  border: none;
  background-color: var(--primary-color);
  margin: 16px 156px 32px 0;
}

.hero-img-pacotes.monte p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
  }

  .hero-img.riacho {
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-img.baia {
    background: url(../img/hero-baia-tablet.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero-img-pacotes.monte {
    background: url(../img/pacotes-hero-monte-tablet.jpg);
    background-size: cover;
    background-position: center;
    padding: 209px 70px 108px;
    height: 620px;
  }

  .hero-img-pacotes.monte p {
    font-size: 32px;
    line-height: 150%;
  }

  .hero h2 {
    font-size: 32px;
    padding: 88px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .hero h2 {
    padding: 104px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img.riacho {
    background: url(../img/hero-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero-img.baia {
    background: url(../img/hero-baia-desktop.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero-img-pacotes.monte {
    background: url(../img/pacotes-hero-monte-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 160px 742px 160px 120px;
  }

  .hero h2 {
    padding: 104px 160px;
  }
}
