.offers-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.card {
  width: 312px;
  height: 288px;
  background-color: #000000;
  padding: 24px 16px;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 24px;
  color: var(--text-secondary-color);
}

.card.japao {
  background: url(../img/bg-card-japao-mobile.jpg) no-repeat;
  background-size: cover;
}

.card.san-andreas {
  background: url(../img/bg-card-san-andreas-mobile.jpg) no-repeat;
  background-size: cover;
}

.card.paraiba {
  background: url(../img/bg-card-paraiba-mobile.jpg) no-repeat;
  background-size: cover;
}

.card.manaus {
  background: url(../img/bg-card-manaus-mobile.jpg) no-repeat;
  background-size: cover;
}

.card header {
  display: block;
  padding: 0;
  position: static;
  background-color: transparent;
}

.card header p {
  font-weight: var(--text-weight);
  font-size: 20px;
}

.card section {
  margin-bottom: 24px;
}

.card section h3 {
  font-weight: var(--title-weight);
  font-size: 40px;
  margin: 8px 0 0 0;
}

.card section span {
  font-size: 32px;
  display: inline-block;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .offers-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card.japao {
    background: url(../img/bg-card-japao-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .card.san-andreas {
    background: url(../img/bg-card-san-andreas-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .card.paraiba {
    background: url(../img/bg-card-paraiba-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .card.manaus {
    background: url(../img/bg-card-manaus-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .card section h3 {
    font-size: 48px;
  }

  .card section span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}

@media screen and (min-width: 1800px){
  .offers-card {
    width: 1250px;
    margin: 0 auto;
  }
}
