@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-display: swap;
}

:root {
    --primary-color: #B81515;
    --secondary-color: #8F0101;

    --background-primary-color: #FFFFFF;
    --background-secondary-color: #000000;
    --background-tertiary-color: #F5F5F5;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --title-weight: 700;
    --text-menu-weight: 500;
    --text-weight: 400;

}

body, img, p, h1, fieldset, input, legend, label, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
