:root {
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #000000;
    --background-tertiary-color: #F5F5F5;

    --button-primary-color: #B81515;
    --button-secondary-color: #8F0101;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

}

body, img, p, h1, fieldset, input, legend, label, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

